{% extends 'base.html' %}
{% block title %}
Portals
{% endblock %}

{% block header %}
<h1>Admin Tools</h1>
{% endblock %}

{% block content %}
<div class="row">
    {% include 'admin/navigation.html' %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Overview</h1>
        </div>
    </main>
</div>
{% endblock %}