<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            {% if rbac_has_role('User Manager') %}
            <li class="nav-item">
                <a class="nav-link link-primary" href="{{ url_for('rbac.user.list') }}">
                    <i class="fa fa-user"></i> Users
                </a>
            </li>
            {% endif %}
            {% if rbac_has_role('Role Manager') %}
            <li class="nav-item">
                <a class="nav-link link-primary" href="{{ url_for('rbac.role.list') }}">
                    <i class="fa fa-group"></i> Roles
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>