{% extends 'base.html' %}
{% block title %}
Portals
{% endblock %}

{% block header %}
<h1>Fields</h1>
{% endblock %}

{% block content %}
<div class="row">
    {% include 'fields/navigation.html' %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Create new Field</h1>
        </div>
        <div class="container-fluid">
            <form action="{{ url_for('fields.create') }}" method="POST">
                <div class="row">
                    <div class="col-2">
                        <label for="title" class="form-label">Title</label>
                    </div>
                    <div class="col-10">
                        <input type="text" name="title" id="title" class="form-control" placeholder="Operation name" />
                    </div>
                </div>

                {% import 'portals/guid-search.html' as guid_search %}

                <div class="row">
                    <div class="col-2">1st Anchor</div>
                    <div class="col-5">
                        {{ guid_search.name_entry('anchor_a') }}
                    </div>
                    <div class="col-5">
                        {{ guid_search.guid_input('anchor_a') }}
                    </div>
                    {{ guid_search.script_block('anchor_a') }}
                </div>

                <div class="row">
                    <div class="col-2">2nd Anchor</div>
                    <div class="col-5">
                        {{ guid_search.name_entry('anchor_b') }}
                    </div>
                    <div class="col-5">
                        {{ guid_search.guid_input('anchor_b') }}
                    </div>
                    {{ guid_search.script_block('anchor_b') }}
                </div>

                <div class="form-group row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-success form-control">Create Field</button>
                    </div>
                    <div class="col-4"></div>
                </div>
            </form>
        </div>
    </main>
</div>
{% endblock %}