{% extends 'base.html' %}
{% block title %}
Portals
{% endblock %}

{% block header %}
<h1>Fields</h1>
{% endblock %}

{% block content %}
<div class="row">
    {% include 'fields/navigation.html' %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Overview</h1>
        </div>
        <table class="table-responsive">
            <table id="fieldListing" class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Layers</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Layers</th>
                    <th scope="col">Actions</th>
                </tfoot>
            </table>
            <script>
                const renderTitle = function (data, type, row) {
                    if (type == 'display') {
                        return `<a href="${row.id}.html">${row.title}</a>`;
                    }

                    return data;
                };

                const renderLayers = function (data, type, row) {
                    if (type == 'display') {
                        return data.length;
                    }

                    return data;
                };

                const renderActions = function (data, type, row) {
                    if (type == 'display') {
                        var infoLink = `<a href="${row.id}.html"><i class="bi-info-circle-fill"></i></a>`;
                        var deleteLink = `<a href="#" class="link-danger" 
                        title="Delete" data-bs-toggle="modal" data-bs-target="#modal-delete-${row.id}" 
                        aria-labelledby="modal-delete-${row.id}-label" 
                        aria-hidden="true"><i class="bi-trash"></i></a>`;

                        var deleteModal = `<div class="modal fade" id="modal-delete-${row.id}" tabindex="-1"
                aria-labelledby="modal-delete-${row.id}-label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-delete-${row.id}-label">Delete Field</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete the field <em>${row.title}</em>?
                        </div>
                        <div class="modal-footer">
                            <form action="/fields/${row.id}/delete" method="POST">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                <button type="submit" class="btn btn-primary">Yes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>`;

                        return infoLink + deleteLink + ' ' + deleteModal;
                    }

                    return data;
                };
                var fieldListingTable = $('#fieldListing').DataTable({
                    'ajax': {
                        'url': "{{ url_for('fields.ajax_list_fields') }}",
                        dataSrc: ''
                    },
                    'columns': [
                        {
                            data: 'id',
                            orderable: false,
                            className: 'text-center'
                        },
                        {
                            data: 'title',
                            orderable: true,
                            render: renderTitle
                        },
                        {
                            data: 'layers',
                            render: renderLayers,
                            className: 'text-center'
                        },
                        {
                            data: null,
                            render: renderActions,
                            className: 'text-center'
                        }
                    ]
                });
            </script>
        </table>
        <pre>{{ fields_json }}</pre>
    </main>
</div>
{% endblock %}