<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link link-primary" href="{{ url_for('fields.index') }}">
                    <i class="fas fa-table"></i> Overview
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-success" href="{{ url_for('fields.create') }}">
                    <i class="fas fa-plus-square"></i> Create
                </a>
            </li>
        </ul>
    </div>
</nav>