{% extends 'base.html' %}
{% block title %}
Portals
{% endblock %}

{% block header %}
<h1>Fields</h1>
{% endblock %}

{% block content %}
<div class="row">
    {% include 'fields/navigation.html' %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <script>
                $(document).ready(function () {
                    $('#field-title').editable().bind('editsubmit', function (event, val) {
                        $.post("{{ url_for('fields.update_title', id=field.id) }}", data = { title: val });
                    });
                });
            </script>
            <h1 class="h2" id="field-title" data-bs-toggle="tooltip" title="Double-click to edit">{{ field.title }}</h1>
        </div>
        <div class="container-fluid">
            <div class="row">
                <h3>Anchors</h3>
            </div>
            {% macro display_anchor(a) %}
            <div class="row">
                {% if a.image != None %}
                <div class="col-sm-4">
                    <img src="{{ a.image }}" alt="{{ a.title }}" class="img-fluid rounded" />
                </div>
                <div class="col-sm-8 text-center">
                    <div class="text-center h4">{{ a.title }}</div>
                    <div class="text-center">
                        <a href="{{ url_for('portals.portal_by_id', id=a.id) }}" title="Portal Info"><i
                                class="fas fa-info-circle"></i></a>
                        <a href="{{ a.intel_link }}" title="Ingress Intel Map"><i class="fas fa-map-marker-alt"></i></a>
                    </div>
                </div>
                {% else %}
                <div class="row text-center">
                    <div><a href="{{ a.intel_link }}">{{ a.title }}</a></div>
                </div>
                {% endif %}
            </div>
            {%- endmacro %}
            <div class="row">
                <div class="col-6">
                    {{ display_anchor(field.anchor_a) }}
                </div>
                <div class="col-6">
                    {{ display_anchor(field.anchor_b) }}
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    <i class="bi-download"></i> [
                    <a href="{{ url_for('fields.view_geojson', id=field.id) }}">GeoJSON</a>
                    ]
                </div>
            </div>
            <div class="row">
                <h3>Layers</h3>
                <div class="table-responsive">
                    <table id="layerListing" class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Portal</th>
                                <th class="text-center">A [km<sup>2</sup>]</th>
                                <th class="text-center">MU</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <script>
                        function updateNewLayerOrder() {
                            $.get("{{ url_for('fields.ajax_max_order', id=field.id) }}", success = function (data, textStatus, jqXHR) {
                                if (data.success) {
                                    $('#newLayerOrder').val(data.max_order + 1);
                                } else {
                                    console.error('Failed to fetch max order: ', data.message);
                                    $('#newLayerOrder').val(0)
                                }
                            }, dataType = 'json')
                        }

                        function orderDec(field_id, layer_id) {
                            const ajaxUrl = `ajax/${field_id}/${layer_id}/order_dec`;
                            $.get(ajaxUrl, success = function (data, textStatus, jqXHR) {
                                if (data.success) {
                                    $('#layerListing').DataTable().ajax.reload();
                                    updateNewLayerOrder();
                                } else {
                                    console.log(data.message);
                                }
                            }, dataType = 'json');
                        }

                        function orderInc(field_id, layer_id) {
                            const ajaxUrl = `ajax/${field_id}/${layer_id}/order_inc`;
                            $.get(ajaxUrl, success = function (data, textStatus, jqXHR) {
                                if (data.success) {
                                    $('#layerListing').DataTable().ajax.reload();
                                    updateNewLayerOrder();
                                } else {
                                    console.log(data.message);
                                }
                            }, dataType = 'json');
                        }

                        var layerListingTable = $('#layerListing').DataTable({
                            'ajax': {
                                url: "{{ url_for('fields.ajax_list_layers', id=field.id) }}",
                                dataSrc: ''
                            },
                            'columns': [
                                {
                                    data: 'order',
                                    className: 'text-center',
                                    searchable: false,
                                    orderable: true,
                                    render: function (data, type, row) {
                                        if (type == 'display') {
                                            return `<a href="#" onclick="orderDec(${row.field.id}, ${row.id});">`
                                                + `<i class="fas fa-angle-down"></i></a> `
                                                + data
                                                + ` <a href="#" onclick="orderInc(${row.field.id}, ${row.id});">`
                                                + `<i class="fas fa-angle-up"></i></a>`;
                                        }

                                        return data;
                                    }
                                },
                                {
                                    data: 'portal.title',
                                    render: function (data, type, row) {
                                        if (type == 'display') {
                                            return row.portal.title;
                                        }

                                        return data;
                                    },
                                    orderable: true,
                                    searchable: true
                                },
                                {
                                    data: 'area',
                                    orderable: true,
                                    searchable: false,
                                    className: 'text-center',
                                    render: function (data, type, row) {
                                        if (type == 'display') {
                                            return data.toFixed(3);
                                        }

                                        return data;
                                    }
                                },
                                {
                                    data: 'mind_units',
                                    orderable: true,
                                    searchable: false,
                                    className: 'text-center',
                                    defaultContent: 0,
                                    render: function (data, type, row) {
                                        if (type == 'display') {
                                            var e = document.createElement('span');
                                            e.setAttribute('id', `layer-mu-${row.id}`);
                                            e.setAttribute('data-bs-toggle', 'tooltip');
                                            e.setAttribute('title', 'Double-click to edit');

                                            e.setAttribute('data-gis-field-id', `${row.field_id}`);
                                            e.setAttribute('data-gis-layer-id', `${row.id}`);

                                            e.innerText = (data == null) ? '0' : data;

                                            return e.outerHTML + ` MU`;
                                        }
                                    }
                                },
                                {
                                    data: null,
                                    className: 'text-center',
                                    render: function (data, type, row) {
                                        if (type == 'display') {
                                            const formUrl = Flask.url_for('fields.delete_layer', {
                                                field_id: row.field_id,
                                                layer_id: row.id,
                                            });

                                            return `<a href="../portals/${row.portal.id}.html" title="Show Details"><i class="fas fa-info-circle"></i></a>`
                                                + `<a href="${row.portal.intel_link}" title="Open Intel Map"><i class="fas fa-map-marker-alt"></i></a>`
                                                + `<a href="#" class="link-danger" title="Delete Layer" data-bs-toggle="modal" data-bs-target="#modal-remove-layer-${row.id}"><i class="fas fa-trash-alt"></i></a>`
                                                + `<div class="modal fade" id="modal-remove-layer-${row.id}" tabindex="-1" aria-labelledby="modal-remove-layer-${row.id}-label">`
                                                + `<div class="modal-dialog modal-dialog-centered">`
                                                + `<div class="modal-content">`
                                                + `<form action="${formUrl}" method="POST">`
                                                + `<div class="modal-header">`
                                                + `<h5 class="modal-title" id="modal-remove-layer-${row.id}-label">Remove Layer</h5>`
                                                + `<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />`
                                                + `</div>`
                                                + `<div class="modal-body">`
                                                + `Are you sure you want to remove <em>${row.portal.title}</em> from <em>{{ field.title }}</em>?`
                                                + `</div>`
                                                + `<div class="modal-footer">`
                                                + `<button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>`
                                                + `<button type="submit" class="btn btn-primary">Yes</button>`
                                                + `</div>`
                                                + `</form>`
                                                + `</div>`
                                                + `</div>`
                                                + `</div>`;
                                        }

                                        return data;
                                    },
                                    orderable: false,
                                    searchable: false
                                }
                            ],
                            order: [[0, 'asc']],
                            initComplete: function (settings, json) {
                                layerListingTable.$("span[id|='layer-mu']").each(function () {
                                    var editableBound = $(this).attr('data-gis-editable-bound');
                                    if (!editableBound) {
                                        $(this).editable().bind('editsubmit', function (event, value) {
                                            const target = event.target;

                                            const field_id = target.getAttribute('data-gis-field-id');
                                            const layer_id = target.getAttribute('data-gis-layer-id');

                                            const url = `ajax/${field_id}/${layer_id}/update_mu`;

                                            $.post(url,
                                                { mind_units: value, },
                                                function (data, textStatus, jqXHR) {
                                                    if (!data.success) {
                                                        alert(`Failed to update MU: ${data.message}`);
                                                    }
                                                },
                                                dataType = 'json');
                                        });

                                        $(this).attr('data-gis-editable-bound', 'true');
                                    }
                                });
                            },
                            paging: false,
                            searching: false,
                        });

                        $(document).ready(function () {
                            updateNewLayerOrder();
                        });
                    </script>
                </div>
            </div>
            {% import 'portals/guid-search.html' as guid_search %}
            <div class="modal fade" id="modal-add-layer" tabindex="-1" aria-labelledby="modal-add-layer-label">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <form action="{{ url_for('fields.add_layer', id=field.id) }}" method="POST">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modal-delete-${row.id}-label">Add Layer</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                        Choose a portal to add to field <em>{{ field.title }}</em> as a
                                        Layer.
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">{{ guid_search.name_entry('layer_portal') }}</div>
                                    <div class="col-6">{{ guid_search.guid_input('layer_portal') }}</div>
                                    {{ guid_search.script_block('layer_portal') }}
                                </div>
                                <div class="row">
                                    <div class="col-2"><label for="newLayerOrder">Order</label></div>
                                    <div class="col-10">
                                        <input type="number" name="order" id="newLayerOrder" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">OK</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 text-center">
                    <button type="button" class="btn btn-success form-control" data-bs-toggle="modal"
                        data-bs-target="#modal-add-layer"><i class="fas fa-plus-circle"></i> Add Layer</button>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    </main>
</div>
{% endblock %}