<div class="modal fade" id="modal-roles" tabindex="-1" aria-labelledby="modal-roles-label">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-roles-label">
                    Roles - <span id="modal-roles-username" class="text-secondary"></span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
            </div>
            <div class="modal-body">
                <input type="hidden" id="modal-roles-user_id" />

                <!-- DataTable showing roles -->
                <div class="table-responsive" style="width: 100%;">
                    <table id="modal-roles-table" class="table table-hover table-sm" style="width: 100%;">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col" class="text-center">Grantable</th>
                                <th scope="col" class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <!-- Form to grant new roles -->
                <div class="row">
                    <div class="col-9">
                        <input type="text" name="role_name" id="modal-roles-grant-role_name" placeholder="Role name..."
                            class="form-control" autocomplete="off" />
                        <div class="dropdown">
                            <div id="modal-roles-grant-role_name-result" class="dropdown-menu dropdown-menu-left">
                            </div>
                        </div>
                        <input type="hidden" name="role_id" id="modal-roles-grant-role_id" />
                    </div>
                    <div class="col-3 align-middle">
                        <button type="button" class="btn btn-success btn-sm" onclick="modalRoles_grant_clicked();">
                            <i class="fa fa-user-plus"></i> Grant
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='rbac/user/modal-roles.js') }}"></script>
    <script>
        $(document).ready(modalRoles_init);
    </script>
</div>