{% extends 'base.html' %}
{% block title %}
Hello, Title
{% endblock %}

{% block header %}
<h1>Hello, header!</h1>
{% endblock %}

{% block content %}
{% if g.current_user %}
<pre>{{ g.current_user }}</pre>
{% endif %}
{% endblock %}