<script src="{{ url_for('static', filename='rbac/user/modal-change-password.js') }}"></script>
<script>
    $(document).ready(changePasswordModal_init);
</script>
<div class="modal fade" id="modal-change-password" tabindex="-1" aria-labelledby="modal-change-password-label">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-change-password-label">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">Old password</div>
                    <div class="col-sm-8">
                        <input type="password" id="pw_old" placeholder="Previous password" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">New Password</div>
                    <div class="col-sm-8">
                        <input type="password" id="pw_1st" placeholder="New password ..." class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="progress progress-striped">
                            <div id="passwordProgress" class="progress-bar" role="progressbar" aria-valuemin="0"
                                aria-valuemax="100" style="width: 0%;"></div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <input type="password" id="pw_2nd" placeholder="... repeat new password" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <ul id="passwordRejectReasons">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <i class="fa fa-times"></i> Cancel
                </button>
                <button type="button" class="btn btn-success" id="btnChangePassword">
                    <i class="fa fa-check"></i> Update Password
                </button>
            </div>
        </div>
    </div>
</div>