{% extends 'base.html' %}
{% block title %}
Users
{% endblock %}

{% block header %}
<h1>Admin Tools</h1>
{% endblock %}

{% block content %}
<div class="row">
    {% include 'admin/navigation.html' %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Users</h1>
        </div>
        {% include 'rbac/user/list/modal-roles.html' %}
        <div class="table-responsive">
            <table id="userList" class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th rowspan="2" scope="col" class="text-center align-middle">#</th>
                        <th rowspan="2" scope="col" class="align-middle">Username</th>
                        <th rowspan="2" scope="col" class="text-center align-middle">
                            <i class="fa fa-users" title="Roles"></i>
                        </th>
                        <th scope="col" colspan="2" class="text-center">Password</th>
                        <th rowspan="2" scope="col" class="text-center align-middle">
                            <i class="fa fa-lock" title="Banned?"></i>
                        </th>
                        <th scope="col" colspan="3" class="text-center">v.enl.one</th>
                    </tr>
                    <tr class="text-center text-small">
                        <th scope="col"><i class="fa fa-key" title="Allowed?"></i></th>
                        <th scope="col"><i class="fa fa-user-lock" title="Has password?"></i></th>
                        <th scope="col">Verified</th>
                        <th scope="col">Level</th>
                        <th scope="col">Points</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- inserted by DataTable -->
                </tbody>
            </table>
            <script src="{{ url_for('static', filename='rbac/user/list-datatable.js') }}"></script>
            <script>
                $(document).ready(userList_init);
            </script>
        </div>
    </main>
</div>
{% endblock %}