{% extends 'base.html' %}
{% block title %}
Users
{% endblock %}

{% block header %}
<h1>Profile</h1>
{% endblock %}

{% block content %}
<div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
        <div class="position-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#collapse-account-state" aria-expanded="true"
                        aria-controls="collapse-account-state" class="nav-link link-secondary">Account State</a>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#collapse-roles" aria-expanded="true"
                        aria-controls="collapse-roles" class="nav-link link-secondary">Roles</a>
                </li>
                {% if g.current_user.v_enlid != None %}
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#collapse-v-state" aria-expanded="true"
                        aria-controls="collapse-v-state" class="nav-link link-secondary">v.enl.one</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ g.current_user.username }}</h1>
        </div>

        <div id="profile-cards">
            <!-- Account state -->
            <div class="card">
                <h5 class="card-header">
                    <a data-bs-toggle="collapse" href="#collapse-account-state" aria-expanded="true"
                        aria-controls="collapse-account-state" id="heading-account-state" class="d-block">
                        <i class="fa fa-chevron-down float-end"></i>
                        Account State
                    </a>
                </h5>
                <div id="collapse-account-state" class="collapse show" aria-labelledby="heading-account-state"
                    data-bs-parent="#profile-cards">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">Last login</div>
                            <div class="col-10">{{ g.current_user.last_login }}</div>
                        </div>
                        <div class="row align-middle">
                            <div class="col-2">Password allowed?</div>
                            <div class="col-4 text-center">
                                {% if g.current_user.allow_password_login %}
                                <i class="fa fa-check-circle text-success"></i>
                                {% else %}
                                <i class="fa fa-times-circle text-danger"></i>
                                {% endif %}
                            </div>
                            <div class="col-2">Password set?</div>
                            <div class="col-3 text-center">
                                {% if g.current_user.has_password_hash %}
                                <i class="fa fa-check-circle text-success" id="password-state"></i>
                                {% else %}
                                <i class="fa fa-times-circle text-warning" id="password-state"></i>
                                {% endif %}
                            </div>
                            <div class="col-1 text-center">
                                {% if g.current_user.allow_password_login %}
                                <button type="button" class="btn btn-sm btn-info" title="Reset Password"
                                    data-bs-toggle="modal" data-bs-target="#modal-change-password">
                                    <i class="fa fa-sync-alt"></i>
                                </button>
                                {% include 'rbac/user/my_profile/modal-change-password.html' %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Roles -->
            <div class="card">
                <h5 class="card-header">
                    <a data-bs-toggle="collapse" href="#collapse-roles" aria-expanded="true"
                        aria-controls="collapse-example" id="heading-roles" class="d-block">
                        <i class="fa fa-chevron-down float-end"></i>
                        Roles
                    </a>
                </h5>
                <div id="collapse-roles" class="collapse" aria-labelledby="heading-roles"
                    data-bs-parent="#profile-cards">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-sm" id="userRoleListing" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Description</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <script src="{{ url_for('static', filename='rbac/user/my_profile-datatable.js') }}"></script>
                        <script>
                            $(document).ready(function () {
                                const data = [
                                    {% for r in g.current_user.roles %}
                                { id: {{ r.id }}, name: '{{ r.name }}', description: '{{ r.description }}' },
                                {% endfor %}
                            ];

                            userRoleListing_init(data);
                        });
                        </script>
                    </div>
                </div>
            </div>

            {% if g.current_user.v_enlid != None %}
            <!-- V profile -->
            <div class="card">
                <h5 class="card-header">
                    <a data-bs-toggle="collapse" href="#collapse-v-state" aria-expanded="true"
                        aria-controls="collapse-v-state" id="heading-v-state" class="d-block">
                        <i class="fa fa-chevron-down float-end"></i>
                        v.enl.one
                    </a>
                </h5>
                <div id="collapse-v-state" class="collapse" aria-labelledby="heading-v-state"
                    data-bs-parent="#profile-cards">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">Verified</div>
                            <div class="col-2 text-center">
                                {% if g.current_user.v_verified %}
                                <i class="fa fa-check-circle text-success"></i>
                                {% else %}
                                <i class="fa fa-times-circle text-danger"></i>
                                {% endif %}
                            </div>

                            <div class="col-2">Level</div>
                            <div class="col-2 text-center">{{ g.current_user.v_level }}</div>

                            <div class="col-2">Points</div>
                            <div class="col-2 text-center">{{ g.current_user.v_points }}</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </main>
</div>
{% endblock %}