<div class="row">
    <div class="modal fade" id="modal-create-role" aria-labelledby="modal-create-role-label">
        <form action="{{ url_for('rbac.role.create')}}" method="POST">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-create-role-label">
                            Create Role
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-2"><label for="name">Name</label></div>
                            <div class="col-sm-10">
                                <input type="text" name="name" id="name" class="form-control" placeholder="Role name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"><label for="description">Description</label></div>
                            <div class="col-sm-10">
                                <input type="text" name="description" id="description" class="form-control"
                                    placeholder="Descriptive text" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"><label for="grantable">Grantable</label></div>
                            <div class="col-sm-10 text-center">
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" name="grantable" value="True"
                                        id="grantable_yes" checked />
                                    <label for="grantable_yes" class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" name="grantable" value="False"
                                        id="grantable_no" />
                                    <label for="grantable_no" class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
    <div class="col-4 text-center">
        <button type="button" data-bs-toggle="modal" data-bs-target="#modal-create-role"
            class="btn btn-success form-control">
            <i class="fa fa-plus"></i> Create Role
        </button>
    </div>
    <div class="col-4"></div>
</div>