<div class="modal fade" id="modal-delete-role" aria-labelledby="modal-delete-role-label">
    <form action="#" method="POST" id="modal-delete-role-form">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-delete-role-label">
                        Delete Role / <span id="modal-delete-role-role_name" class="text-secondary"></span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the selected role?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-success">Yes</button>
                </div>
            </div>
        </div>
    </form>
</div>