{% extends 'base.html' %}
{% block title %}
Roles
{% endblock %}

{% block header %}
<h1>Admin Tools</h1>
{% endblock %}

{% block content %}
<div class="row">
    {% include 'admin/navigation.html' %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Roles</h1>
        </div>
        <div class="table-responsive">
            <table class="table table-sm table-hover" id="roleList">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col"><i class="fa fa-user-plus" title="Grantable?"></i></th>
                        <th scope="col"><i class="fa fa-user" title="User Count"></i></th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="modal fade" id="modal-users" aria-labelledby="modal-users-label">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-users-label">
                            Users : <span id="modal-users-role_name" class="text-secondary"></span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive" style="width: 100%;">
                            <table id="modal-users-table" class="table table-hover table-sm" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='rbac/role/list-datatable.js') }}"></script>
        <script>
            $(document).ready(roleList_init);
        </script>
        {% include 'rbac/role/create.html' %}
        {% include 'rbac/role/delete.html' %}
    </main>
</div>
{% endblock %}