{% extends 'base.html' %}
{% block title %}
Portals
{% endblock %}

{% block header %}
<h1>Portal Database</h1>
{% endblock %}

{% block content %}
<div class="row">
    {% include 'portals/navigation.html' %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ portal.title }}</h1>
        </div>
        <div class="container">
            {% if portal.image != None %}
            <div class="row">
                <div class="text-center">
                    <img src="{{ portal.image }}" class="img-fluid rounded" alt="{{ portal.title }}" />
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-2 h5">Location</div>
                <div class="col-8 text-center">{{ portal.location | to_wkt }}</div>
            </div>
            {% if portal.address != None %}
            <div class="row">
                <div class="col-2 h5">Address</div>
                <div class="col-8 text-center">{{ portal.address }}</div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-2 h5">Links</div>
                <div class="col-8 text-center">
                    <!-- Intel -->
                    <a href="{{ portal.intel_link }}" target="_new" title="Ingress Intel"><i class="bi-geo-alt"></i></a>

                    <!-- Google Maps-->
                    <a href="https://www.google.com/maps/search/?api=1&query={{ location.coordinates[1] }},{{ location.coordinates[0] }}"
                        title="Google Maps"> <i class="bi-map-fill"> </i></a>

                </div>
                <div class="col-2"></div>
            </div>
            <div class="row">
                <div class="col-6">
                    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                        aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ url_for('fields.index') }}">Fields</a></li>
                            <li class="breadcrumb-item">Anchors</li>
                            <li class="breadcrumb-item">{{ portal.title }}</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-6">
                    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                        aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ url_for('fields.index') }}">Fields</a></li>
                            <li class="breadcrumb-item">Layers</li>
                            <li class="breadcrumb-item">{{ portal.title }}</li>
                        </ol>
                    </nav>
                </div>
                <!-- <div class="col-6 text-center h4">Fields: Anchor</div> -->
                <!-- <div class="col-6 text-center h4">Fields: Layer</div> -->
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="table-responsive">
                        <table class="table table-sm table-hover" id="fieldUsageTable">
                            <thead>
                                <th scope="col">Title</th>
                                <th scope="col"></th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <script>
                        $(document).ready(function () {
                            $dt = $('#fieldUsageTable');
                            $dt.DataTable({
                                'ajax': {
                                    'url': "{{ url_for('portals.ajax_fields_for_portal', guid=portal.ingress_guid) }}",
                                    dataSrc: ''
                                },
                                'columns': [
                                    {
                                        data: 'title',
                                        orderable: true
                                    },
                                    {
                                        data: null,
                                        orderable: false,
                                        className: 'text-center',
                                        render: function (data, type, row) {
                                            if (type == 'display') {
                                                return `<a href="../fields/${row.id}.html"><i class="bi-info-circle-fill"></i></a>`;
                                            }

                                            return '';
                                        }
                                    }
                                ],
                                'order': [[0, 'asc']],
                                'paging': true,
                                'searching': false,
                                'ordering': true,
                                'lengthMenu': [[10, 25, 50, -1], [10, 25, 50, "All"]]
                            });
                        });
                    </script>
                </div>
                <div class="col-6">
                    <div class="table-responsive">
                        <table class="table table-sm table-hover" id="layerUsageTable">
                            <thead>
                                <th scope="col">Title</th>
                                <th scope="col"></th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <script>
                            $(document).ready(function () {
                                $dt = $('#layerUsageTable');
                                $dt.DataTable({
                                    'ajax': {
                                        'url': "{{ url_for('portals.ajax_layers_for_portal', guid=portal.ingress_guid) }}",
                                        dataSrc: ''
                                    },
                                    'columns': [
                                        {
                                            data: 'field.title',
                                            orderable: true,
                                            render: function (data, type, row) {
                                                if (type == 'display') {
                                                    return `<a href="../fields/${row.field.id}.html">${row.field.title}</a>`;
                                                }

                                                return data;
                                            }
                                        },
                                        {
                                            data: null,
                                            orderable: false,
                                            className: 'text-center',
                                            render: function (data, type, row) {
                                                if (type == 'display') {
                                                    return `<a href="../fields/${row.field.id}.html"><i class="bi-info-circle-fill"></i></a>`;
                                                }

                                                return '';
                                            }
                                        }
                                    ],
                                    'order': [[0, 'asc']],
                                    'paging': true,
                                    'searching': false,
                                    'ordering': true,
                                    'lengthMenu': [[10, 25, 50, -1], [10, 25, 50, "All"]]
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}