{% macro name_entry(baseName, placeholder='Portal name') %}
<input type="text" name="{{ baseName }}" id="{{ baseName }}_name_entry" placeholder="{{ placeholder }}"
    class="form-control" autocomplete="off" />
<div class="dropdown">
    <div id="{{ baseName }}_result" class="dropdown-menu dropdown-menu-left"></div>
</div>
{%- endmacro %}

{% macro guid_input(baseName, showLabel=True) %}
{% if showLabel == True %}
<input type="text" id="{{ baseName }}_guid_label" class="form-control" readonly />
{% endif %}
<input type="hidden" name="{{ baseName }}_guid" id="{{ baseName }}_guid" />
{%- endmacro %}

{% macro script_block(baseName, showLabel=True) %}
<script>
    const update_{{ baseName }}_result = function (guid, title) {
        const inputElement = '#{{ baseName }}_name_entry';
        const resultElement = '#{{ baseName }}_result';
        const guidInputElement = '#{{ baseName }}_guid';
        const guidLabelElement = '#{{ baseName }}_guid_label';

        $(inputElement).val(title);
        $(guidInputElement).val(guid);

        if ($(guidLabelElement)) {
            $(guidLabelElement).val(guid);
        }
        $(resultElement).hide();
    };

    $(document).ready(function () {
        const inputElement = '#{{ baseName }}_name_entry';
        const resultElement = '#{{ baseName }}_result';

        $(inputElement).keyup(function () {
            var searchString = $(inputElement).val();
            if (searchString == '') {
                $(resultElement).hide();
            } else {
                $.ajax({
                    url: "{{ url_for('fields.ajax_search_portal') }}",
                    type: 'POST',
                    data: {
                        q: searchString
                    },
                    dataType: 'text',
                    success: function (json) {
                        var data = JSON.parse(json);
                        var html = '';

                        data.forEach(portal => {

                            var imageHtml = (portal.image != null)
                                ? `<img src="${portal.image}" class="img-fluid" style="max-height: 48px; max-width: 48px;" />`
                                : `<span class="vertical-align-middle text-center">&times;</span>`;

                            var linkHtml = `<a href="#" class="dropdown-item" role="option" title="GUID: ${portal.guid}" onclick="update_{{ baseName }}_result('${portal.guid}', '${portal.title}');">`
                                + `${portal.title}</a>`;

                            var result = `<div class="row">`
                                + `<div class="col-sm-2 text-center">${imageHtml}</div>`
                                + `<div class="col-sm-10">${linkHtml}</div>`
                                + `</div>`;

                            html += result;
                        });

                        $(resultElement).html(html).show();
                    }
                });
            }
        });

    });
</script>
{%- endmacro %}