{% extends 'base.html' %}
{% block title %}
Portals
{% endblock %}

{% block header %}
<h1>Portal Database</h1>
{% endblock %}

{% block content %}
<div class="row">
    {% include 'portals/navigation.html' %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Overview</h1>
        </div>

        <div class="table-responsive">
            <table id="portalListing" class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">ID</th>
                        <th scope="col" class="text-center">
                            <i class="bi-image" title="Image" title="Portal Image"></i>
                        </th>
                        <th scope="col">Title</th>
                        <th scope="col" class="text-center"><i class="bi-geo-alt" title="Intel Link"></i></th>
                        <th scope="col" class="text-center"><i class="bi-cone-striped" title="Used as Anchor"></i></th>
                        <th scope="col" class="text-center"><i class="bi-triangle" title="Used as Layer"></i></th>
                        <th scope="col">Location</th>
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                    <tr>
                        <th scope="col" class="text-center">ID</th>
                        <th scope="col" class="text-center">
                            <i class="bi-image" title="Image" title="Portal Image"></i>
                        </th>
                        <th scope="col">Title</th>
                        <th scope="col" class="text-center"><i class="bi-geo-alt" title="Intel Link"></i></th>
                        <th scope="col" class="text-center"><i class="bi-cone-striped" title="Used as Anchor"></i></th>
                        <th scope="col" class="text-center"><i class="bi-triangle" title="Used as Layer"></i></th>
                        <th scope="col">Location</th>
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                </tfoot>
            </table>
            {% for portal in portals %}
            <div class="modal fade" id="modal-delete-{{ portal.id }}" tabindex="-1"
                aria-labelledby="modal-delete-{{ portal.id }}-label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-delete-{{ portal.id }}-label">Delete Portal</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete the portal <em>{{ portal.title }}</em>?
                        </div>
                        <div class="modal-footer">
                            <form action="{{ url_for('portals.delete', guid=portal.ingress_guid) }}" method="POST">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                <button type="submit" class="btn btn-primary">Yes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <script src="{{ url_for('static', filename='portals/portal-listing-table.js') }}"></script>
            <script>
                $(document).ready(function () {
                    var portalListingTable = $('#portalListing').DataTable({
                        'ajax': {
                            url: "{{ url_for('portals-rest.rest_list_portals') }}",
                            dataSrc: ''
                        },
                        'columns': [
                            {
                                data: 'id',
                                render: renderPortalIDs,
                                orderable: false,
                                className: 'text-center align-middle',
                                searchable: false
                            },
                            {
                                data: 'image',
                                render: renderPortalImage,
                                defaultContent: '',
                                className: 'text-center align-middle',
                                orderable: false,
                                searchable: false
                            },
                            {
                                data: 'title',
                                orderable: true,
                                className: 'align-middle',
                                searchable: true,
                                render: function (data, type, row) {
                                    if (type == 'display') {
                                        var html = `<a href="${row.id}.html" title="`
                                            + (row.address != null ? row.address : '')
                                            + `">${row.title}</a>`;

                                        return html;
                                    }

                                    return data;
                                }
                            },
                            {
                                data: 'intel_link',
                                render: renderIntelLink,
                                className: 'text-center align-middle',
                                orderable: false,
                                searchable: false
                            },
                            {
                                data: 'usage_anchor',
                                orderable: false,
                                searchable: false,
                                className: 'text-center align-middle'
                            },
                            {
                                data: 'usage_layer',
                                orderable: false,
                                searchable: false,
                                className: 'text-center align-middle'
                            },
                            {
                                data: 'location',
                                orderable: false,
                                render: renderLocation,
                                className: 'text-center align-middle',
                                searchable: false
                            },
                            {
                                data: 'null',
                                orderable: false,
                                className: 'text-center align-middle',
                                render: renderActions,
                                searchable: false
                            }
                        ],
                        'order': [[2, "asc"]]
                    });
                });
            </script>
        </div>
    </main>
</div>
{% endblock %}