<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item {{ 'active' if current_page == 'index' }}">
                <a class="nav-link" href="{{ url_for('portals.index') }}">
                    <i class="fas fa-search-location"></i> Overview
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('portals.stats') }}">
                    <i class="fas fa-database"></i> Statistics
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('portals.scheduler_stats') }}">
                    <i class="fa fa-clock"></i> Scheduler
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('static', filename='iitc-ingress-gis.user.js') }}">
                    <i class="fas fa-file-code"></i> IITC Plugin
                </a>
            </li>
        </ul>
    </div>
</nav>