{% extends 'base.html' %}
{% block title %}
Portals
{% endblock %}

{% block header %}
<h1>Portal Database</h1>
{% endblock %}

{% block content %}
<div class="row">
    {% include 'portals/navigation.html' %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2" id="field-title" data-bs-toggle="tooltip" title="Double-click to edit">Scheduler</h1>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 h5">Hostname</div>
                <div class="col-10"><span id="scheduler-current_host"></span></div>
            </div>
            <div class="row">
                <div class="col-2 h5">Allowed Hosts</div>
                <div class="col-10"><span id="scheduler-allowed_hosts"></span></div>
            </div>
            <div class="row">
                <div class="col-2 h5">Running</div>
                <div class="col-10"><span id="scheduler-running"></span></div>
            </div>
        </div>
    </main>
    <script>
        function fetchSchedulerStats() {
            $.get("{{ url_for('scheduler.get_scheduler_info') }}",
                function (data, textStatus, jqXHR) {
                    $('#scheduler-current_host').html(data.current_host);

                    var allowedHostHtml = JSON.stringify(data.allowed_hosts);
                    $('#scheduler-allowed_hosts').html(allowedHostHtml);

                    $('#scheduler-running').html(data.running
                        ? '<i class="fa fa-check text-success"></i>'
                        : '<i class="fa fa-cross text-danger"></i>');
                }, 'json');
        }

        $(document).ready(function () {
            fetchSchedulerStats();
            setInterval(fetchSchedulerStats, 2500);
        });
    </script>
</div>
{% endblock %}