{% extends 'base.html' %}
{% block title %}
Portals
{% endblock %}

{% block header %}
<h1>Portal Database</h1>
{% endblock %}

{% block content %}
<div class="row">
    {% include 'portals/navigation.html' %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2" id="field-title" data-bs-toggle="tooltip" title="Double-click to edit">Statistics</h1>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">Total Portal Count</div>
                <div class="col-4 text-center">{{ stats.portalCount }}</div>
                <div class="col-2">Unused</div>
                <div class="col-4 text-center">
                    {{ stats.unusedCount }}
                    <a href="{{ url_for('portals.prune') }}" title="Prune unused portals"><i
                            class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-2">Witohut Address</div>
                <div class="col-4 text-center"><span id="portals-without-address"></span></div>
            </div>
        </div>
        <script>
            function fetchPortalsWithoutAddress() {
                $.get("{{ url_for('portals.portals_without_address') }}", function (data, textStatus, jqXHR) {
                    $('#portals-without-address').html(data.count);
                }, 'json');
            }

            $(document).ready(function () {
                fetchPortalsWithoutAddress();
                setInterval(fetchPortalsWithoutAddress, 5000);
            });
        </script>
    </main>
</div>
{% endblock %}