{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}

{% block header %}
<h1>Login</h1>
{% endblock %}

{% block content %}
<fieldset>
    <legend>OAuth</legend>
    <div class="container-fluid">
        <div class="row form-group">
            <div class="col-sm-4">OAuth</div>
            <div class="col-sm-4">
                <a type="button" class="btn btn-success form-control" href="{{ v_auth_url|safe }}">
                    <img src="{{ url_for('static', filename='images/v-logo-16.png') }}" class="img-fluid" />
                    v.enl.one
                </a>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</fieldset>
{% include 'auth/login/password-form.html' %}
{% endblock %}