{% extends 'base.html' %}
{% block title %}
Register
{% endblock %}

{% block header %}
<h1>Register</h1>
{% endblock %}

{% block content %}
<form method="post">
    {{ registration_form.csrf_token }}
    <div class="container">
        <div class="row form-group">
            <div class="col-sm-2">{{ registration_form.username.label }}</div>
            <div class="col-sm-8">
                {{ registration_form.username(class='form-control', placeholder='Enter desired username') }}
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-2">{{ registration_form.password.label }}</div>
            <div class="col-sm-8">
                {{ registration_form.password(class='form-control', placeholder='Enter desired password') }}
            </div>
            <div class="col-sm-2">

            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success form-control">Register</button>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</form>
{% endblock %}