<fieldset>
    <legend>Password-based login</legend>
    <div class="container-fluid">
        <form action="{{ url_for('auth.login.login') }}" method="POST">
            {{ login_form.csrf_token }}
            <div class="row form-group">
                <div class="col-sm-2">{{ login_form.username.label }}
                </div>
                <div class="col-sm-10">
                    {{ login_form.username(class='form-control') }}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">{{ login_form.password.label }}</div>
                <div class="col-sm-10">
                    {{ login_form.password(class='form-control') }}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <button type="submit" class="form-control btn btn-primary">Log In</button>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </form>
        {% if register_allowed %}
        <div class="row">
            <div class="col text-center">
                <a href="{{ url_for('auth.register.register') }}">Register</a>
            </div>
        </div>
        {% endif %}
    </div>
</fieldset>